body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/bg.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: repeat;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

.menu {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

.controls {
  margin-bottom: 20px;
}

.slot-machine {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  overflow: hidden;
  height: 300px;
  width: 100%;
  background-color: #3a3a3a;
  border-radius: 10px;
  position: relative;
}

.slot-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  height: 100%;
  position: relative;
}

.slot {
  font-size: 3rem;
  margin: 5px 0;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
  border-radius: 10px;
}

#spinButton,
#menuButton {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  font-size: 1.2rem;
  color: green;
}

.spin {
  animation: spin 1s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}

.slot img {
  width: 80px;
}

@keyframes spin {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-300px);
  }
}

@media (max-width: 600px) {
  .slot {
    font-size: 2rem;
    height: 80px;
  }
  .container,
  .menu {
    padding: 10px;
  }
  #spinButton,
  #menuButton {
    font-size: 0.8rem;
  }
  #result {
    font-size: 1rem;
  }
}

.error {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999999;
  text-align: center;
  justify-content: center;
  display: flex;
  backdrop-filter: blur(31px);
  color: white;
  padding-top: 159px;
  overflow: hidden;
  text-shadow: 0px 0px 10px #000;
  display: none;
}

.error.show {
  display: flex;
}
